{% extends 'layout.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1>{{ item.name }} - {{ item.user.username }}</h1>
        </div>
        <div class="col-5">
            {% if user is defined %}
                <button class="btn btn-primary" onclick="voteItem()" id="vote-btn">Vote</button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div id="errors" class="col">

        </div>
    </div>
    <p>
        <b>Votes:</b><br>
        {{ item.votes }}
    </p>
    <p>
        <b>Type:</b><br>
        {{ item.type|capitalize }}
    </p>
    <p>
        <b>Description:</b><br>
        {{ item.description }}
    </p>

    <hr>

    <div id="comments-container">
        <h4>Comments</h4>
        <div class="row">
            <div class="col" id="comments">
                {% for comment in comments %}
                    <p><b>{{ comment.user.username }}</b></p>
                    <p>{{ comment.comment }}</p>
                    <hr>
                {% else %}
                    There are no comments for this item yet. Be first!
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {% if user is defined %}
                    <div class="text-center" id="form-success">

                    </div>
                    <div class="text-center" id="form-error">

                    </div>

                    <form id="comment-form" action="/users/items/{{ item._id }}/comment" method="post">
                        <label for="comment-textarea">Comment:</label>
                        <textarea id="comment-textarea" name="comment" class="form-control"></textarea>
                        <br>
                        <input type ="submit" class="btn btn-success" value="Submit">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>


    <script>
        function voteItem() {
            $('#vote-btn').prop('disabled', true);
            $.ajax({
                type: 'post',
                url: '/users/items/{{ item._id }}/vote',
                // beforeSend: function(xhr){xhr.setRequestHeader('Authorization', userToken);},
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                    $('#errors').html(data.responseJSON.errors);
                }
            });
        }

        var commentForm = $('#comment-form');
        var successDiv = $('#form-success');
        var errorDiv = $('#form-error');


        commentForm.on('submit', function (e) {

            e.preventDefault();
            successDiv.hide();

            $('.error').each(function() {
                $(this).remove();
            });

            $.ajax({
                type: commentForm.attr('method'),
                url: commentForm.attr('action'),
                data: commentForm.serialize(),
                success: function (data) {
                        commentForm.hide();
                        successDiv.html('<h3>Your comment has been added</h3>');
                        successDiv.show();
                        $('#comments').append('<p><b>{{ user.username }}</b></p>\n' +
                            '                  <p>' +$('#comment-textarea').val() +'</p>'+
                                                '<hr>')
                    },
                error: function (data) {
                    successDiv.html('<h3>' + data.errors + '</h3>');
                    successDiv.show();
                }
                });
        });
    </script>
{% endblock %}

